<section class="intro">
    <div class="container">
        <h1>Vishakha's Timeline &darr;</h1>
    </div>
</section>

<section class="timeline">
    <ul>
        <li>
            <div>
                <time>April 06,2018</time><b> Presentation of iBlog at Perfect sense</b>
            </div>
        </li>
        <li>
            <div>
                <time>Jan,2018</time><b>Graduate Teaching Assistant at University of Maryland</b><br>
                <p>Teach and assess a class of 30 graduate students for the course System and Software Requirements </p>
            </div>
        </li>
        <li>
            <div>
                <time>October,2017</time><b>Software Development Intern at SwitchPitch</b><br>
                <p>Worked with requirements, specifications and technical design documents to provide timely and meaningful feedback to the stakeholders, along with performing thorough unit, regression and acceptance testing to detect defects.</p>
            </div>
        </li>
        <li>
            <div>
                <time>September,2017</time><b> Development Project : AKO</b><br>
                <p>Developed an E-learning management system - AKO for Students, Instructors and Administrators. Implemented an Email messaging system using simple mail API of spring boot </p>
            </div>
        </li>
        <li>
            <div>
                <time>May,2017</time> <b>Software Engineer Intern at Finra</b><br>
                <p> Worked with the Technology team to migrate a windows based application to AWS cloud</p>
            </div>
        </li>
        <li>
            <div>
                <time>August,2016</time> <b>Master's of Engineering in Computer Software Engineering</b><i> at University of Maryland,College Park</i>
            </div>

        </li>

        <li>
            <div>
                <time>August,2012</time> <b>Bachelor's of Engineering in Electronics and Telecommunication</b><i> at Bhilai Institute of Technology,Durg,India</i>
            </div>
        </li>
    </ul>
</section>
